{% load is_active %}

<li class="nav-item mx-4 py-2">
  <a class="nav-link {% is_active request 'detail' index=globus_portal_framework.index subject=subject %}" style="font-size: 24px" href="{% url 'detail' globus_portal_framework.index subject %}">
    <i class="fas fa-info-circle" style="font-size: 32px"></i> Overview
  </a>
</li>
{% if not transfer_enabled %}
<li class="nav-item mx-4 py-2">
  <a class="nav-link {% is_active request 'detail-transfer' index=globus_portal_framework.index subject=subject %}" style="font-size: 24px" href="{% url 'detail-transfer' globus_portal_framework.index subject %}">
    <i class="far fa-arrow-alt-circle-down" style="font-size: 32px"></i> Transfer
  </a>
</li>
{% endif %}
{% if globus_http_endpoint and globus_http_path and globus_http_scope %}
<li class="nav-item mx-4 py-2">
  <a class="nav-link {% is_active request 'detail-preview' index=globus_portal_framework.index subject=subject %}" style="font-size: 24px" href="{% url 'detail-preview' globus_portal_framework.index subject globus_http_endpoint globus_http_path %}?scope={{globus_http_scope}}">
    <i class="far fa-image" style="font-size: 32px"></i> Preview
  </a>
</li>
{% endif %}
