include README.rst
include LICENSE
include requirements.txt

include *.py
recursive-include globus_portal_framework *.css
recursive-include globus_portal_framework *.css.map
recursive-include globus_portal_framework *.eot
recursive-include globus_portal_framework *.html
recursive-include globus_portal_framework *.js
recursive-include globus_portal_framework *.js.map
recursive-include globus_portal_framework *.json
recursive-include globus_portal_framework *.otf
recursive-include globus_portal_framework *.svg
recursive-include globus_portal_framework *.png
recursive-include globus_portal_framework *.ttf
recursive-include globus_portal_framework *.woff
recursive-include globus_portal_framework *.woff2

exclude globus_portal_framework/local_settings.py
prune tests/
global-exclude local_settings.py