django==2.0.1
#globus_sdk>=1.4.1,<=2.0.0
# Currently need the latest development for search detail results
-e git+https://github.com/globus/globus-sdk-python#egg=globus_sdk_python
social-auth-app-django