<div class="collapse my-3" id="collapseExample">
  <div class="card card-body">
    <h5 class="text-center">Copy to Clipboard</h5>
    <div id="copy-area" class="alert alert-info" role="alert">
      <div class="row">
        <div class="pt-2 col-md-11 text-center">
          <a id="get-link-url" href="{{copy_to_clipboard_link}}">{{copy_to_clipboard_link}}</a>
        </div>
        <div class="col-md-1">
          <button id="copy-button" class="btn btn-primary btn-lg"
                  onclick="copyToClipboard('get-link-url', 'copy-area', '#copy-button');"
                  data-toggle="tooltip" data-placement="top" title="Copied!">
            <i class="fas fa-clipboard"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>