{% load static %}
{% load index_template %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {# CSS files #}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />

    {# Custom Fonts #}
    <script type="text/javascript" src="{% static 'js/fontawesome-all.min.js' %}"></script>

    {# Django CSRF Protection #}
    {% csrf_token %}

    {# Extras #}
    {%block headextras%}{%endblock%}

    <title>{%block title%}{%endblock%}</title>

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">{{ globus_portal_framework.project_title|default:"Globus Portal Framework" }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto"></ul>
          <ul class="navbar-nav my-lg-0">

            {%if backends.backends and request.user.is_authenticated %}
            <li>
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            <li>
              <a class="nav-link" href="/">{{request.user.username }}</a>
            </li>
            {% elif 'globus' in backends.backends and not request.user.is_authenticated %}
            <li>
              <a class="nav-link" href="{% url 'social:begin' 'globus' %}?next={{ request.get_full_path|urlencode }}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page body -->
    {%block body%}
    {%endblock%}

    <!-- Page footer -->
    {% index_template 'components/footer.html' as it_footer %}
    {% include it_footer %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
