{%extends "detail-base.html"%}

{% block detail_body %}

<h2 class="my-4">Columns Profile</h2>


<div class="row">
  <div class="col-md-11 table-responsive">
    <table class="table table-responsive">
      <thead>
        <tr>
            {%for col in fields.metadata.table_head %}
            <th scope="col">{{col}}</th>
            {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in fields.metadata.table_body %}
        <tr>
          {% for item in row %}
          <td>{{item}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
