{%extends "detail-base.html"%}

{% block detail_body %}

{# Silence regular messages so we can display them closer to the transfer button #}
{% block detail_messages %}
{% endblock %}

<div class="row">
  <div class="col-md-12">

    {% if transfer_link %}
    <div class="alert alert-success mt-3" role="alert">
      <p>Your file is being transferred, you can check the status
        <a target="_blank" href="{{transfer_link}}">here</a>.
      </p>
    </div>
    {% endif %}

    <div class="card mt-4">
      <div class="card-header">{{result.title.value}}</div>
      <div class="card-body">
        {% for rfm in remote_file_manifests %}
        <h5 class="mb-0">Filename:</h5><p>{{rfm.filename}}</p>
        <h5 class="mb-0">Length: </h5><p>{{rfm.length}}</p>
        <h5 class="mb-0">URL: </h5><p>{{rfm.url}}</p>
        <h5 class="mb-0">MD5: </h5><p>{{rfm.md5}}</p>
        <h5 class="mb-0">SHA256: </h5><p>{{rfm.sha256}}</p>
        <br>
        {% endfor %}
      </div>
      <div class="card-footer">
        {% if helper_page_link and request.user.is_authenticated %}
        <a href="{{helper_page_link}}" class="btn btn-primary">Transfer File</a>
        {% elif not request.user.is_authenticated %}
        <a href="#" class="btn btn-primary disabled">Login to Transfer this File</a>
        {% else %}
        {% endif %}

        <div class="mt-3">
        {% index_template "components/messages.html" as it_messages %}
        {% include it_messages %}
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
