{%extends "detail-base.html"%}
{% load static %}


{%block headextras%}
  <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/detail-base.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/detail-overview.css' %}" />
{%endblock%}

{% block detail_body %}

<div class="row">
    <div class="col-sm-4 border-right">
        <h3 class="text-center mb-5 my-5">General Info</h3>
        <div id="column-general-info">
            <ul>
                {% if fields.resource_type %}
                <li class="my-4">
                    <i class="far fa-file mr-1" style="font-size: 32px"></i>
                    {{fields.resource_type.data.value}}
                </li>
                {% endif %}

                {% if fields.subjects %}
                <li class="my-4">
                    <i class="fas fa-tag mr-1" style="font-size: 32px"></i>
                    Tags
                    {% for subject in fields.subjects.data %}
                        <span class="badge badge-primary">{{subject.value}}</span>
                    {% endfor %}
                </li>
                {% endif %}

                {% if fields.language %}
                <li class="my-4">
                    <i class="far fa-flag mr-1" style="font-size: 32px"></i>
                    {{fields.language.data.value}}
                </li>
                {% endif %}

                {% if fields.formats %}
                <li class="my-4"><i class="fas fa-paperclip mr-1" style="font-size: 32px"></i>Formats
                    {% for format in fields.formats.data %}
                        <span class="badge badge-primary">{{format.value}}</span>
                    {% endfor %}
                </li>
                {% endif %}

                {% if fields.publication_year %}
                <li class="my-4">
                    <i class="far fa-calendar-alt mr-1" style="font-size: 32px"></i>
                    {{ fields.publication_year.data.value }}
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col-sm-4 border-right">
        <h3 class="text-center mb-5 my-5">Descriptive Metadata</h3>
        <div class="column-content">

            <h5>{{fields.creators.field_title}}</h5>
            <p>{%for creator in fields.creators.data%}
                {{creator.creator_name.value}}{% if not forloop.last %},{%endif%}
                {%endfor%}
            </p>

            <h5>{{fields.publisher.field_title}}</h5>
            <p>{{fields.publisher.data.value}}</p>

            <h5>{{fields.contributors.field_title}}</h5>
            <p>{%for contributor in fields.contributors.data%}
                {{contributor.contributor_name}}{% if not forloop.last %},{%endif%}
                {%endfor%}<br>
            </p>

        </div>
    </div>
    <div class="col-sm-4">
        <h3 class="text-center mb-5 my-5">Data Provider</h3>
        <div class="column-content">

            <h5>{{fields.identifier.field_title}}</h5>
            <p>{{fields.identifier.data.value}}</p>

            <h5>{{fields.dates.field_title}}</h5>
            <p>
                {% for date in fields.dates.data %}
                {{date.date_type}} - {{date.value}} <br>
                {% endfor %}
            </p>

            <h5>{{fields.alternative_identifiers.field_title}}</h5>
            <p>{{fields.alternative_identifiers.data}}</p>

            <h5>{{fields.related_identifiers.field_title}}</h5>
            <p>
                {% for ri in fields.related_identifiers.data %}
                {{ri.value}} --  {{ri.relation_type}}  <br>
                {% endfor %}
            </p>


            <h5>Size</h5>
            <p>{% for s in fields.sizes.data %}{{s.value}}<br>{% endfor %}</p>

            <h5>{{fields.version.field_title}}</h5>
            <p>{{fields.version.data.value}}</p>

            <h5>{{fields.geo_locations.field_title}}</h5>
            <p>{{fields.geo_locations.data.value}}</p>

            <h5>{{fields.funding_references.field_title}}</h5>
            <p>{{fields.funding_references.data.value}}</p>

        </div>
    </div>
</div>

{% endblock %}