{%extends "base.html"%}

{% load static %}
{% load index_template %}

{%block title%}Request Groups Access{%endblock%}

{%block body%}

<div class="container">

  <div class="mt-4">
    {% index_template 'components/messages.html' as it_mess %}
    {% include it_mess %}
  </div>

  <div class="card">
    <div class="card-header">
      You may request access to the following groups
    </div>
    <div class="card-body">
      <ul>
      {% for group in allowed_groups|dictsort:'name' %}
        <li>
          {{group.name}}
          {% if group.is_member == True %}
          <a class="btn btn-success py-0" target="_blank"
             href="https://app.globus.org/groups/{{group.uuid}}/about">You are a member</a>
          {% else %}
          <a class="btn btn-primary py-0" target="_blank"
             href="https://app.globus.org/groups/{{group.uuid}}/about">Request Access</a>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
      <p class="small">
        If you are already a member of a group above, you can <a href="{% url 'social:begin' 'globus' %}">Login Now</a>
      </p>
    </div>
  </div>

  </div>
{% endblock %}
