{%extends "base.html"%}

{% load static %}
{% load index_template %}

{%block title%}Search{%endblock%}

{%block headextras%}

<link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}" />

<script>
  /*
  This helper function ensures queries are inserted as the first query-param
  so that the search url is copy-pastable by the user
  */
  function customSearch(page={{ search.pagination.current_page|default:"1"}}) {
    //copy as a hidden field so we don't change the look of the page
    var page = $('<input>').attr({type: 'hidden', id: 'foo',
                                 name: 'page', value: page});
    var input = $('#search-input').clone().attr('type','hidden');
    $('#facet-form').prepend(page).prepend(input).submit();
  }
</script>

{%endblock%}

{%block body%}


<div class="container">

  <div class="mt-4">
    {% index_template 'components/messages.html' as it_mess %}
    {% include it_mess %}
  </div>

  <form id="search-form" class="my-4" name="search_form" action="{% url 'search' globus_portal_framework.index %}">
    <input type="text" id="search-input" autocomplete="off"
           data-provide="typeahead" name="q"
           value="{{request.session.search.query}}" placeholder="Start your search here">
    <button id="search-btn" type="submit" class="btn btn-default">
      <i class="fas fa-search"></i>
    </button>
  </form>

  <div class="row">
    <div id="sidebar" class="col-xs-12 col-sm-4 col-md-4">
      <div id="filters">
        <div id="facet-container">
          <form id="facet-form" action="{% url 'search' globus_portal_framework.index %}">
            {% index_template "components/search-facets.html" as it_facets %}
            {% include it_facets %}
          </form>
        </div>
      </div>
    </div>

    <div id="content" class="col-xs-12 col-sm-8 col-md-8">

      <div id="results" style="display: inline;">
        {% if not request.user.username %}
        <div class="alert alert-dark" role="alert">
          NOTE: Your search results are limited. Logging in can improve search
          results by displaying private results if you have permissions associated
          with your account.
        </div>
        {% elif globus_portal_framework.search_debugging_enabled %}
        <div class="alert alert-dark" role="alert">
          See Debugging for fields <a href="{% url 'search-debug' globus_portal_framework.index %}">here</a>.
        </div>
        {% endif %}

        {% index_template 'components/search-results.html' as it_search_results %}
        {% include it_search_results %}

        <div class="row justify-content-md-center">
          <nav class="mt-3 mb-5" aria-label="Search Results Pages">
            <ul class="pagination">
              {% for page in search.pagination.pages %}
              {% if page.number == search.pagination.current_page %}
              <li class="page-item active">
              {% else %}
              <li class="page-item">
              {% endif %}
                <a class="page-link" href="#" onclick="customSearch({{page.number}});">{{page.number}}</a>
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
