

li .glyphicon {
    font-size: 30px;
    padding-top:15px;
}

.column {
    padding-right:20px;
    border-right: 1px solid #ccc;
}

.column-title {
    margin-bottom:40px;
}

.column-content {
    padding-left: 40px;
}

.column-content h5 {
    margin-bottom: 0px;
    margin-top: 0px;
}

li {
    font-size: 20px;
}

li .alert {
    padding: 0px 5px 0px 5px;
}