
.column {
    border-right: 1px solid #ccc;
    min-height: 250px;
}

.column-content * {
    margin: 0px 0px 0px 20px;
    padding: 0px 0px 0px 0px;
    font-size: 14px;
}

.column-content h5 {
    margin-top: 20px;
}

#column-general-info ul, li {
    font-size: 18px;
    list-style-type: none;
    list-style-position: inside;
}