
.column-content * {
    margin: 0px 0px 0px 20px;
    padding: 0px 0px 0px 0px;
    font-size: 14px;
}

.column-content h5 {
    margin-top: 20px;
}

#column-general-info ul, #column-general-info li {
    font-size: 24px;
    list-style-type: none;
    list-style-position: inside;
}