{%extends "components/base.html"%}
{% load static %}

{%block title%}Detail{%endblock%}

{%block headextras%}
  <link rel="stylesheet" type="text/css" href="{% static 'css/search/detail-base.css' %}" />
{%endblock%}

{%block body%}
  {%include "components/header.html"%}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
              <a href="/">Back to Search</a>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">
            <div>
                <div id="panel-heading-logo">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                </div>
                <div id="panel-heading-titles">
                    {% block subheading %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="panel panel-body">

            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'detail' subject %}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>Overview</a>
              </li>
              <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="{% url 'detail-metadata' subject %}"><span class="glyphicon glyphicon-th" aria-hidden="true"></span>Metadata</a>-->
              <!--</li>-->
            </ul>

            <div class="container">
                {%block subbody %}
                {%endblock%}
            </div>
        </div>
    </div>

</div>
{% endblock %}
