{% load static %}

<div class="subnav mt-auto bottom-border-0">
  <ul class="nav nav-tabs nav-search-nav justify-content-center">
    <li class="mt-auto">
      <a class="btn btn-primary btn-lg border-0 squared {% if active == 'search' %}active{% endif %}" role="button"
        href="{% url 'search' globus_portal_framework.index %}">Search</a>
    </li>
    <li class="mt-auto">
      <a class="btn btn-primary btn-lg border-0 squared {% if active == 'about' %}active{% endif %}" role="button"
        href="{% url 'search-about' globus_portal_framework.index %}">About</a>
    </li>
  </ul>
</div>