{%extends "components/base.html"%}
{% load static %}

{%block title%}Detail{%endblock%}


{%block body%}
  {%include "components/header.html"%}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
              <a href="/">Back to Search</a>
            </div>
        </div>
    </div>

    <h2>Result Detail</h2>
    <hr>
    <ul>
        {% for key,value in result.items %}

        <li><strong>{{ key }}</strong>: {{ value }}</li>
        {% empty %}
        <h3>No data for search result</h3>
        {% endfor %}
    </ul>



</div>
{% endblock %}
