{%extends "components/detail-base.html"%}
{% load static %}


{%block headextras%}
  <link rel="stylesheet" type="text/css" href="{% static 'css/search/detail-base.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/search/detail-overview.css' %}" />
{%endblock%}

{% block subheading %}
<h3>Materials Data Facility</h3>
<h2>{{fields.titles.value}}</h2>
{% endblock %}

{% block subbody %}

<div class="row">
    <div class="col-sm-4 column">
        <h3 class="column-content">General Info</h3>
        <div class="column-general-info">
            <ul>
                {% if fields.rights_list %}
                <li><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                {{fields.rights_list.value}}
                </li>
                {% endif %}

                {% if fields.resource_type %}
                <li><span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                {{fields.resource_type.value}}
                </li>
                {% endif %}

                {% if fields.subjects %}
                <li>
                    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                    Tags
                    {% for subject in fields.subjects.value %}
                        <span class="alert alert-info" role="alert"><a href="#">{{subject}}</a></span>
                    {% endfor %}
                </li>
                {% endif %}

                {% if fields.language %}
                <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                {{fields.language.value}}
                </li>
                {% endif %}

                {% if fields.formats %}
                <li>
                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                    Formats
                    {% for format in fields.formats.value %}
                        <span class="alert alert-info" role="alert"><a href="#">{{format}}</a></span>
                    {% endfor %}
                </li>
                {% endif %}

                {% if fields.publication_year %}
                <li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                {{ fields.publication_year.value }}
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col-sm-4 column">
        <h3 class="text-center column-title">Descriptive Metadata</h3>
        <div class="column-content">

            <h5>{{fields.creators.name}}</h5>
            <p>{{fields.creators.value}}</p>

            <h5>{{fields.publisher.name}}</h5>
            <p>{{fields.publisher.value}}</p>

            <h5>{{fields.contributors.name}}</h5>
            <p>{{fields.contributors.value}}</p>

        </div>
    </div>
    <div class="col-sm-4">
        <h3 class="text-center column-title">Data Provider</h3>
        <div class="column-content">

            <h5>{{fields.identifier.name}}</h5>
            <p>{{fields.identifier.value}}</p>

            <h5>{{fields.dates.name}}</h5>
            <p>{{fields.dates.value|date}}</p>

            <h5>{{fields.alternative_identifiers.name}}</h5>
            <p>{{fields.alternative_identifiers.value}}</p>

            <h5>{{fields.related_identifiers.name}}</h5>
            <p>{{fields.related_identifiers.value}}</p>

            <h5>{{fields.sizes.name}}</h5>
            <p>{{fields.sizes.value}}</p>

            <h5>{{fields.version.name}}</h5>
            <p>{{fields.version.value}}</p>

            <h5>{{fields.geo_locations.name}}</h5>
            <p>{{fields.geo_locations.value}}</p>

            <h5>{{fields.funding_refrences.name}}</h5>
            <p>{{fields.funding_refrences.value}}</p>

        </div>
    </div>
</div>

{% endblock %}