{% for facet in facets %}
<fieldset class="facet-fieldset">
    <legend>{{facet.name}}</legend>
    <div class="fieldset-container">
        {% for field in facet.buckets %}
        <div class="facet-field">
            <input type="checkbox" name="filter.{{field.field_name}}"
                    value="{{field.value}}" class="facet-checkbox"
                    onchange="facetSearch();"
                    {% if field.checked %}
                    checked
                    {% endif %}
            >
            {{field.value}}<span style="float: right">({{field.count}})</span>
        </div>
        {% endfor %}
    </div>
</fieldset>
{% endfor %}